.benefits__headline {
  display: none;
}
.benefits__list,
.session__list,
.team__list,
.team__social,
.partners__list {
  list-style: none;
}
.team__list,
.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__item_headline {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits__item_description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $grey-color;
}
.benefits__thumb {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey-color-btn;
}